<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Scripts/jquery.validate.js" ></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js" ></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js" ></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js" ></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js" ></script>
    <link href="~/Scripts/bootstrap.css" rel="stylesheet" />
    <link href="~/bootstrap.css" rel="stylesheet"/>
    <a href="~/Scripts/bootstrap.css.map">~/Scripts/bootstrap.css.map</a>
    <link href="~/Scripts/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script src="~/bootstrap.js"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <img src="~/Images/download.jpg"  width="1370" height="200"/>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="text-align:center"><strong>Online Quiz</strong></a>
        </div>
        <div>
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a href="#"><strong>Home</strong></a></li>
                <li class="active"><a href="#"><strong>About Us</strong></a></li> 
                <li class="active"><a href="#"><strong>Contact</strong></a></li>
            </ul>
        </div>
    </nav>
 
    @RenderBody()
   
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
